<div id="reviews" class="transitions-enabled">
  <% @reviews.each do |review| %>
    <div class="box panel panel-default">
      <%= image_tag review.image.url(:medium) %>
      <div class="panel-body">
        <%= review.description %>
        <%= review.user.email if review.user %>
        <%= link_to 'Show', review_path(review) %>
        <% if review.user == current_user %>
          <%= link_to 'Edit', edit_review_path(review) %>
          <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>