
<p id="notice"><%= notice %></p>
<%= image_tag @review.image.url(:medium) %>
<p>
  <strong>Description:</strong>
  <%= @review.description %>
</p>

<p>
  <strong>String:</strong>
  <%= @review.string %>
</p>

<% if @review.user == current_user %> 

<%= link_to 'Edit', edit_review_path(@review) %> 

<% end %>
<%= link_to 'Back', reviews_path %>
